.boton-clear {
  height: 70px;
  font-size: 1.6em;
  display: flex;
  flex-grow: 1;
  background-color: #3d3d3d;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  border: 2px solid #303030;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.boton-clear:hover {
  background-color: #696969;
}
.boton-clear:active {
  height: 69px;
}